/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button:focused {
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent;
}

.button{
	-fx-background-radius: 10;
	-fx-background-color: #cacaca;
	-fx-cursor: default;
	-fx-opacity: 1;
}
.clickableButton{
	-fx-background-color: #107FB1;
	-fx-cursor: open_hand;
}

.selectedButtonMenu{
	-fx-background-color: #FFDA7C;
	-fx-text-fill: #383838;
	-fx-cursor: default;
}

.cancelClickableButton{
	-fx-background-color: #D80536;
	-fx-cursor: open_hand;
}

.clickableButton:pressed, .cancelClickableButton:pressed{
	-fx-cursor: closed_hand;
	-fx-opacity: 0.9;
}

.radio-button {
    -fx-background-color: lightgray; /* Fond du bouton */
    -fx-border-color: darkgray;
    -fx-border-radius: 5px;
    -fx-padding: 10 20; /* Espacement interne */
    -fx-font-size: 14px;
    -fx-text-fill: black; /* Couleur du texte */
}

.radio-button:selected {
    -fx-background-color: #4CAF50; /* Couleur lorsqu'il est sélectionné */
    -fx-text-fill: white;
    -fx-border-color: #388E3C;
}

.radio-button .dot, .radio-button .radio {
    -fx-background-color: transparent; /* Supprime les éléments visuels par défaut */
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-pref-width: 0; /* Réduit la largeur des flèches à 0 */
    -fx-padding: 0; /* Supprime le padding */
    -fx-opacity: 0; /* Rend invisible */
    -fx-focus-color: transparent; /* Supprime les bordures focus */
    -fx-background-color: transparent; /* Pas de fond */
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-opacity: 0; /* Désactive l'effet au survol */
}